<h1> ~~ Course Details ~~ </h1>

<p><%= link_to("Edit", edit_course_path(@course)) %></p>

<% if @course %>
  <p><span>Course Name: <%=@course.name%></span></p>
<% else %>
  <p> Course not found </p>
<% end %>

<p><%= link_to("Back",courses_path) %></p>